################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShoppingApp/.vs/ShoppingApp/v16/Server/sqlite3/storage.ide
